<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body id="page-top" style="padding-top : 100px">
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form th:object="${orderSearch}" class="form-inline">
                <label for="date">날짜를 선택하세요:
                    <input type="date"
                           id="date"
                           name="startDate"
                           max="2040-06-20"
                           min="2022-07-01"
                           value="2077-06-15"
                           th:field="*{findDate}" class="form-control">
                </label>
                <button type="submit" class="btn btn-primary mb-2">검색</button>
            </form>
        </div>
        <div id="testImg">
            <img src="assets/img/yeasuFlagMap.png" width="700" height="350" alt="테스트이미지" />
<!--            <button class="btn1" type="button" value="1" onclick="changItem(this.value)" >1구간</button>-->
<!--            <button class="btn2" type="button" value="2" onclick="changItem(this.value)" >2구간</button>-->
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>구간명</th>
                <th>구간 시작지점</th>
                <th>구간 종료지점</th>
                <th>총수량</th>
                <th>현재게시수량</th>
                <th>잔여수량</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${itemList}">
                <td th:text="${item.name}"></td>
                <td th:text="${item.startPlace}"></td>
                <td th:text="${item.endPlace}"></td>
                <td th:text="${item.stockQuantity}"></td>
                <td th:text="${item.usedStock}"></td>
                <td th:text="${item.curStock}"></td>
            </tr>
            </tbody>
        </table>

    </div>
    <form role="form" action="/order" method="post">
        <label for="date" style="font-size=10px;display:none " >날짜를 선택하세요:
            <input type="date"
                   id="startDate"
                   name="startDate"
                   max="2040-06-20"
                   min="2022-07-01"
                   value="2077-06-15"
                   class="form-control"
                   style="font-size=10px;display:none ">
        </label>
        <div class="form-group">
            <select name="memberId" id="member" class="form-control" style="font-size=10px;display:none ">
<!--            <select name="memberId" id="member" class="form-control">-->
                <option value="" style="font-size=10px;display:none ">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
            </select>
        </div>
        <div class="form-group">
            <!--            <label for="count">공연명</label>-->
            <input type="text" name="name" class="form-control" id="name"
                   placeholder="공연명을 입력하세요.">
        </div>
        <div class="form-group">
            <!--            <select name="itemId" id="item" class="form-control" style="font-size=10px;display:none ">-->
            <select name="itemId" id="item" class="form-control" >
                <option value="">구간선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.name}" />
            </select>
        </div>
        <div class="form-group">
            <select name="count" id="count" class="form-control">
                <option value='' selected>-- 주문 수량을 선택하세요 --</option>
                <option value=5>5</option>
                <option value=10>10</option>
                <option value=15>15</option>
                <option value=20>20</option>
            </select>
        </div>
        <div class="form-group">
            <label for="count">주문기간(일)</label>

            <input type="radio" id="15Day" name="term" value="15">
            <label for="15Day">15Day</label>
            <input type="radio" id="30Day" name="term" value="30" checked>
            <label for="30Day">30Day</label>
        </div>
        <!-- 아이템 추가 버튼 -->
        <div id="newItem">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>상품명      </th>
                    <th>주문수량</th>
                    <th>주문기간(일)</th>
                </tr>
                </thead>
            </table>
            <input style="float: right;" type="button"  value="추가" onclick="add_textbox()">
        </div>
        <!-- 아이템 추가 버튼 -->
        </ul>
        <ul id="selected-result">
        </ul>
        <div id="total-price">총 금액 : <span></span></div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div th:replace="fragments/footer :: footer"/>
</div>

</body>
<script th:inline="javascript">
var startDate = [[${startDate}]];
if (startDate){
    document.getElementById('date').value = startDate;
    document.getElementById('startDate').value = startDate;
} else{
    document.getElementById('date').value = new Date().toISOString().substring(0, 10);
    document.getElementById('startDate').value = new Date().toISOString().substring(0, 10);
}


function changItem(idx) {
      var target = document.getElementById('item');   //대상 셀렉트 id
      target.options[idx].selected = true;   //options에 대상 option의 index를 넣으시면 됩니다.
    }

    const remove = (obj) => {
        document.getElementById('newItem').removeChild(obj.parentNode);
        document.getElementById('itemCount').removeChild(obj.parentNode);
    }

    const add_textbox = () => {
        const newItem = document.getElementById("newItem");
        const itemCount = document.getElementById("itemCount");

        var newP = document.createElement('p');
        //strArr 순서 0.날짜 1.회원 2. 공연명 3.상품 4.수량 5.기간 -->
        var tmpDate = document.getElementById("date").value
        var tmpMemberId = document.getElementById("member").value //memberID 고민해 어디다 넣을지.
        var tmpOrderName = document.getElementById("name").value
        var tmpItemId = document.getElementById("item").value
        var target = document.getElementById("item");
        var tmpItemText = target.options[target.selectedIndex].text;
        var tmpCount = document.getElementById("count").value
        var tmpTerm = document.querySelector('input[name="term"]:checked').value;
        //%로 구분하여 문자열 저장함.
        var addString = tmpDate + "%" + tmpMemberId + "%" + tmpOrderName + "%" + tmpItemId + "%" + tmpCount + "%" + tmpTerm

        newP.innerHTML = "<input readonly type='text' size='17' style='text-align:center' value="+tmpItemText+ "> <input readonly type='text' size='17' style='text-align:center' value="+tmpCount+ "> <input readonly type='text' size='20' style='text-align:center' value="+tmpTerm+ "> <input type='hidden' name='addItem' value="+addString+ "> <input type='button' value='삭제' onclick='remove(this)'>";

        newItem.appendChild(newP);
        itemCount.appendChild(newP);

    }
<!--    const remove = (obj) => {-->
<!--        document.getElementById('newItem').removeChild(obj.parentNode);-->
<!--        document.getElementById('itemCount').removeChild(obj.parentNode);-->
<!--    }-->



</script>
</html>
<style>
#testImg{
  postiion : relative;
  width: 700px;
  height: 350px;
}
button.btn1 {
  position: absolute;
  top: 170px;
  left : 35px;
}
button.btn2 {
  position: absolute;
  top: 85px;
  left : 95px;
}
</style>

