
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<link rel='stylesheet' href='./orderOption.css' />
<body>
<div class="container" id="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/order" method="post">
        <div class="form-group">
            <label for="date">날짜를 선택하세요:
                <input type="date"
                       id="date"
                       name="startDate"
                       max="2040-06-20"
                       min="2022-07-01"
                       value="2077-06-15"
                       class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label for="member">주문회원</label>
            <select name="memberId" id="member" class="form-control">
                <option value="">회원선택</option>
                <option th:each="member : ${members}"
                        th:value="${member.id}"
                        th:text="${member.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="count">공연명</label>
            <input type="text" name="name" class="form-control" id="name"
                   placeholder="공연명을 입력하세요.">
        </div>
        <div class="form-group">
            <label for="item">상품명</label>
            <select name="itemId" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.name}" />
            </select>
        </div>
        <div class="form-group">
                <label for="count">주문수량</label>
                <input type="number" name="count" class="form-control" id="count"
                       placeholder="주문 수량을 입력하세요">
        </div>
        <div class="form-group">
            <label for="count">주문기간(일)</label>

            <input type="radio" id="15Day" name="term" value="15">
            <label for="15Day">15Day</label>
            <input type="radio" id="30Day" name="term" value="30" checked>
            <label for="30Day">30Day</label>
        </div>
        <!-- 아이템 추가 버튼 -->
        <div id="newItem">
            <input style="float: right;" type="button"  value="추가" onclick="add_textbox()">
        </div>
        <!-- 아이템 추가 버튼 -->

        </ul>
        <ul id="selected-result">
        </ul>
        <div id="total-price">총 금액 : <span></span></div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <script>
    const add_textbox = () => {
        const newItem = document.getElementById("newItem");
        const itemCount = document.getElementById("itemCount");
        var newP = document.createElement('p');
        //strArr 순서 0.날짜 1.회원 2. 공연명 3.상품 4.수량 5.기간 -->
        var tmpDate = document.getElementById("date").value
        var tmpMemberId = document.getElementById("member").value
        var tmpOrderName = document.getElementById("name").value
        var tmpItemId = document.getElementById("item").value
        var tmpCount = document.getElementById("count").value
        var tmpTerm = document.querySelector('input[name="term"]:checked').value;

        var addString = tmpDate + "%" + tmpMemberId + "%" + tmpOrderName + "%" + tmpItemId + "%" + tmpCount + "%" + tmpTerm


        newP.innerHTML = "<input type='text' name='addItem' value="+addString+ "> <input type='button' value='삭제' onclick='remove(this)'>";


        newItem.appendChild(newP);
        itemCount.appendChild(newP);

        alert('hi');
    }
    const remove = (obj) => {
        document.getElementById('newItem').removeChild(obj.parentNode);
        document.getElementById('itemCount').removeChild(obj.parentNode);
    }

    document.getElementById('date').value = new Date().toISOString().substring(0, 10);
</script>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>