<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
        .container {
            max-width: 820px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body style="padding-top : 100px">

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="py-5 text-center">
    <h2 >글 수정</h2>
  </div>

  <form action="item.html" th:action th:object="${notice}" method="post">

    <div>
      <input type="hidden" id="id" class="form-control"  th:field="*{id}" value="" placeholder="제목을 입력하세요.">

      <input type="hidden" id="name" class="form-control"  th:field="*{name}" value="testUser" placeholder="제목을 입력하세요.">

    </div>

    <div>
      <label for="subject" >제목</label>
      <input type="text" id="subject" th:field="*{subject}" class="form-control" placeholder="제목을 입력하세요.">

    </div>
    <div>
      <label for="contents" >내용</label>
      <textarea cols="150" rows="10" id="contents" th:field="*{contents}" class="form-control" placeholder="내용을 입력하세요.">

            </textarea>

    </div>

    <hr class="my-4">

    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit" >저장</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/notices/notices}'|"
                type="button" >취소</button>
      </div>
    </div>

  </form>

</div> <!-- /container -->
</body>
</html>