<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layout">

<th:block layout:fragment="content">
  <body>
  <div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
      <h2>글 상세</h2>
    </div>

    <!--  <h2 th:if="${param.status}" th:text="'저장 완료'"></h2> -->

    <div>
      <label for="noticeId">ID</label>
      <input type="text" id="noticeId" name="noticeId" class="form-control" th:value="${notice.id}" readonly>
    </div>
    <div>
      <label for="noticeSubject">제목</label>
      <input type="text" id="noticeSubject" name="noticeSubject" class="form-control" th:value="${notice.subject}" readonly>
    </div>
    <div>
      <label for="name">작성자</label>
      <input type="text" id="name" name="name" class="form-control" th:value="${notice.name}" readonly>
    </div>
    <div>
      <label for="viewcnt">조회수</label>
      <input type="text" id="viewcnt" name="viewcnt" class="form-control" th:value="${notice.viewcnt}" readonly>
    </div>
    <div>
      <label for="createdDate">등록일</label>
      <input type="text" id="createdDate" name="createdDate" class="form-control" th:value="${notice.createdDate}" readonly>
    </div>
    <div>
      <label for="contents">글 내용</label>
      <textarea id="contents" name="contents" class="form-control" th:text="${notice.contents}" readonly></textarea>
    </div>

    <hr class="my-4">

    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
                th:onclick="|location.href='@{/notices/{uid}/edit(uid=${notice.id})}'|"
                type="button">수정</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/notices}'|"
                type="button">목록으로</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/notices/{uid}/delete(uid=${notice.id})}'|"
                type="button">삭제</button>
      </div>
    </div>
  </div> <!-- /container -->
  </body>
</th:block>
</html>
