<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="layout">
<!-- 최신 SpringBoot 에서는 layout:decorate="~{layout/layout}" 으로 사용 -->

<th:block layout:fragment="content">
  <!-- Begin Page Content -->
  <body >
  <div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
      <h2 >공지사항</h2>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn btn-primary float-end"
                onclick="location.href='addForm.html'"
                sec:authorize="hasRole('ADMIN')"
                th:onclick="|location.href='notices/add'|"
                type="button" >글 등록</button>
      </div>
    </div>
    <hr class="my-4">
    <div>
      <table class="table">
        <thead>
        <tr>
          <th >ID</th>
          <th >제목</th>
          <th >작성자</th>
          <th >조회수</th>
          <th >등록일</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${notices}">
          <td><a href="item.html" th:href="notices/{uid}(uid=${notice.id})" th:text="${notice.id}">글 ID</a></td>
          <td><a href="item.html" th:href="notices/{uid}(uid=${notice.id})" th:text="${notice.subject}">제목</a></td>
          <td th:text="${notice.name}">작성자</td>
          <td th:text="${notice.viewcnt}">조회수</td>
          <td th:text="${notice.createdDate}">등록일</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div> <!-- /container -->

  </body>
</th:block>
</html>

<!--


<!DOCTYPE HTML>
<html lang="ko-kr">
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <meta charset="UTF-8">
  &lt;!&ndash; Bootstrap CSS &ndash;&gt;
  <link th:href="@{/css/bootstrap.min.css}"
        href="/css/bootstrap.min.css" rel="stylesheet">

</head>
<body style="padding-top : 50px">
<div class="container" style="max-width: 1000px">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div class="py-5 text-center">
&lt;!&ndash;    <h2 th:text="#{page.notices}">글 목록</h2>&ndash;&gt;
    <h2 >공지사항</h2>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              onclick="location.href='addForm.html'"
              th:onclick="|location.href='@{/notices/add}'|"
              type="button" >글 등록</button>
    </div>
  </div>

  <hr class="my-4">
  <div>
    <table class="table">
      <thead>
      <tr>
        <th >ID</th>
        <th >제목</th>
        <th >작성자</th>
        <th >조회수</th>
        <th >등록일</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="notice : ${notices}">
        <td><a href="item.html" th:href="@{/notices/{uid}(uid=${notice.id})}" th:text="${notice.id}">글 ID</a></td>
        <td><a href="item.html" th:href="@{/notices/{uid}(uid=${notice.id})}" th:text="${notice.subject}">제목</a></td>
        <td th:text="${notice.name}">작성자</td>
        <td th:text="${notice.viewcnt}">조회수</td>
        <td th:text="${notice.createdDate}">등록일</td>
      </tr>
      </tbody>
    </table>
  </div>

</div> &lt;!&ndash; /container &ndash;&gt;

</body>
</html>
-->
