<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

  <div class="py-5 text-center">
    <h2 >글 상세</h2>
  </div>

  <!-- 추가 -->
  <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

  <div>
    <label for="noticeId" >ID</label>
    <input type="text" id="noticeId" name="noticeId" class="form-control" value="1" th:value="${notice.id}" readonly>
  </div>
  <div>
    <label for="noticeSubject" >제목</label>
    <input type="text" id="noticeSubject" name="noticeSubject" class="form-control" value="상품A" th:value="${notice.subject}" readonly>
  </div>
  <div>
    <label for="name" >작성자</label>
    <input type="text" id="name" name="name" class="form-control" value="작성자"  th:value="${notice.name}" readonly>
  </div>
  <div>
    <label for="viewcnt" >조회수</label>
    <input type="text" id="viewcnt" name="viewcnt" class="form-control" value="10" th:value="${notice.viewcnt}" readonly>
  </div>

  <div>
    <label for="createdDate" >등록일</label>
    <input type="text" id="createdDate" name="createdDate" class="form-control" value="10" th:value="${notice.createdDate}" readonly>
  </div>

  <div>
    <label for="contents" >글 내용</label>
    <input type="text" id="contents" name="contents" class="form-control" value="10" th:value="${notice.contents}" readonly>
  </div>

  <hr class="my-4">

  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              onclick="location.href='editForm.html'"
              th:onclick="|location.href='@{/notices/{uid}/edit(uid=${notice.id})}'|"
              type="button" >상품 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/notices/notices}'|"
              type="button" >목록으로</button>
    </div>

    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/notices/{uid}/delete(uid=${notice.id})}'|"
              type="button" >삭제</button>
    </div>
  </div>

</div> <!-- /container -->
</body>
</html>