<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Footer -->
<th:block th:fragment="footerFragment">
    <!-- Footer -->
    <footer class="sticky-footer bg-white" >
        <div class="container" >
            <div class="copyright text-center my-auto"  >
                <div class="content" style="float:left;">
                    <img src="assets/img/bottom_logo.png" alt="전라남도옥외광고협회 여수시지부">
                </div>
                <div class="content"  style="float:left; text-align:left;">
                    <p class="nophishing">본 페이지에 게시된 이메일 주소가 자동 수집되는것을 허용하지 않으며, 위반 시 정보통신망법에 의해 처벌될 수 있습니다.</span></p>
                    <p class="nophishing">소재지 :  (우)59629  전라남도 여수시 미평 10길 1  대표전화 :  061) 652-2190  / 팩스번호 : 061) 652-2198</span></p>
                    <p class="nophishing">Copyright(c)2021 YeoSu-City Advertising Cooperative  All Right Reserved.</span></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- Footer -->
<!--<div class="ft2">-->
<!--    <div class="container">-->
<!--        <img src="../images/logo/bottom_logo.png" alt="전라남도옥외광고협회 여수시지부">-->
<!--        <div class="content">-->
<!--            &lt;!&ndash; <span class="address"> (우)59629  전라남도 여수시 미평 10길 1</span> &ndash;&gt;-->
<!--            &lt;!&ndash; <span> 대표전화 <a href="tel:061) 652-2190"> 061) 652-2190( ) </a>,</span>   &ndash;&gt;-->
<!--            &lt;!&ndash; <p class="nophishing">본 사이트에 게시된 이메일 주소의 자동수집을 거부하며, 이를 위반 시 개인정보보호법에 의해 <span class="nowrap"></span>형사처벌됨을 유념하시기 바랍니다.</span></p> &ndash;&gt;-->

<!--            <p class="nophishing">본 페이지에 게시된 이메일 주소가 자동 수집되는것을 허용하지 않으며, 위반 시 정보통신망법에 의해 처벌될 수 있습니다.</span></p>-->
<!--            <p class="nophishing">소재지 :  (우)59629  전라남도 여수시 미평 10길 1  대표전화 :  061) 652-2190  / 팩스번호 : 061) 652-2198</span></p>-->
<!--            <p class="nophishing">Copyright(c)2021 YeoSu-City Advertising Cooperative  All Right Reserved.</span></p>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
    <!-- End of Footer -->
</th:block>

</html>