<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
<!--                <i class="fas fa-laugh-wink"></i>-->
            </div>
            <div class="sidebar-brand-text mx-3">여수시 가로등배너 </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Reservation
        </div>


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/information">
                <i class="far fa-eye"></i>
                <span>가로기 운영안내</span>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/orders">
                <i class="fas fa-clipboard-list"></i>
                <span>가로기 지정게시대현황</span>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="orderItems">
                <i class="far fa-calendar-check"></i>
                <span>가로기 게첨 신청하기</span>
            </a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="myOrders">
                <i class="fas fa-tasks"></i>
                <span>내신청현황</span></a>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Notice
        </div>

        <li class="nav-item active">
            <a class="nav-link" href="notices">
                <i class="fas fa-bullhorn"></i>
                <span>공지사항</span></a>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
<!--            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">-->
            <p class="text-center mb-2"><strong>수수료 입금안내</strong> </p>
            <p class="text-center mb-2">사단법인 전남옥외광고협회 여수지부</p>
            <a class="btn btn-success btn-sm">농협 613098-51-041050</a>
        </div>
        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
<!--            <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">-->
            <p class="text-center mb-2"><strong>민원상담 전화번호</strong> </p>
            <p class="text-center mb-2">사단법인 전남옥외광고협회 여수지부</p>
            <a class="btn btn-success btn-sm">061.652.2190</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

</th:block>

</html>