<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <div class="copyright text-center my-auto"  >
            <div class="content" style="margin-left:200px;">
                <img src="assets/img/logo.png" >
            </div>
        </div>

<!--        <form-->
<!--                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--            <div class="input-group">-->
<!--                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."-->
<!--                       aria-label="Search" aria-describedby="basic-addon2">-->
<!--                <div class="input-group-append">-->
<!--                    <button class="btn btn-primary" type="button">-->
<!--                        <i class="fas fa-search fa-sm"></i>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto" style="margin-right:200px;">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Messages -->
<!--            <div class="content" style="float:left;">-->
<!--                <img src="assets/img/logo.png" >-->
<!--            </div>-->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
                <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link" th:href="@{/members/new}">회원가입</a>
            </li>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link" sec:authorize="hasRole('ADMIN')" onclick="location.href='/items'">
                    <i class="far fa-eye"></i>
                    <span>구간 등록</span>
                </a>
            </li>

<!--            <li class="nav-item active">-->
<!--                <a class="nav-link" href="/information">-->
<!--                    <i class="far fa-eye"></i>-->
<!--                    <span>가로기 운영안내</span>-->
<!--                </a>-->
<!--            </li>-->

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow" >
                <a class="nav-link dropdown-toggle" sec:authorize="isAuthenticated()" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">My Account</span>
                    <img class="img-profile rounded-circle"
                         src="img/undraw_profile.svg">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

<!--    &lt;!&ndash; Topbar &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->
<!--        <h1>Topbar Section</h1>-->
<!--    </nav>-->

</th:block>
</html>