<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorate="layout">
<!-- 최신 SpringBoot 에서는 layout:decorate="~{layout/layout}" 으로 사용 -->

<th:block layout:fragment="content">
  <!-- Begin Page Content -->
  <body id="page-top">
  <!-- Mashead header-->
  <header class="masthead" style="padding: 0; margin: 0;">
    <div class="container px-5"  >
      <div class="row gx-5 align-items-center">
        <div class="masthead-device-mockup">
          <div class="screen bg-white">
            <!-- PUT CONTENTS HERE: 780/434 -> 1170/651 ->1560/868-->
            <img style="max-width: 1560px; height: 868px" src="assets/img/Notice1.jpg" alt="..." />
          </div>
        </div>
      </div>
      <div class="row gx-5 align-items-center">
        <div class="masthead-device-mockup">
          <div class="screen bg-white">
            <!-- PUT CONTENTS HERE: 780/434 -> 1170/651-->
            <img style="max-width: 1560px; height: 868px" src="assets/img/Notice2.jpg" alt="..." />
          </div>
        </div>
      </div>
      <div class="row gx-5 align-items-center">
        <div class="masthead-device-mockup">
          <div class="screen bg-white">
            <!-- PUT CONTENTS HERE:-->
            <img style="max-width: 1560px; height: 868px" src="assets/img/Notice3.jpg" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </header>
  </body>
</th:block>
</html>


