<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body style="padding-top : 50px">
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form th:action="@{/items/new}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="name">구간명</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="구간명을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="price">가격</label>
            <input type="number" th:field="*{price}" class="form-control"
                   placeholder="가격을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="stockQuantity">수량</label>
            <input type="number" th:field="*{stockQuantity}" class="formcontrol" placeholder="수량을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="startPlace">구간의 시작 지점</label>
            <input type="text" th:field="*{startPlace}" class="form-control"
                   placeholder="구간의 시작 지점을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="endPlace">구간의 종료 지점</label>
            <input type="text" th:field="*{endPlace}" class="form-control"
                   placeholder="구간의 종료 지점을 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>